package ${package.ServiceImpl}import org.apache.logging.log4j.LogManager;
import org.apache.logging.log4j.Logger;
import org.springframework.stereotype.Service;

;
${package.Entity}
        .${entity};
${package.Mapper}
        .${table.mapperName};
${package.Service}
        .${table.serviceName};
${superServiceImplClassPackage}
        ;

/**
 * <p>
 * $!{table.comment} 服务实现类
 * </p>
 *
 * @author ${author}
 * @date ${date}
 */
@Service
#if(${kotlin})
open class ${table.serviceImplName} : ${superServiceImplClass}<${table.mapperName}, ${entity}>(), ${table.serviceName} {

}
#else
public class ${table.serviceImplName} extends ${superServiceImplClass}<${table.mapperName}, ${entity}> implements ${table.serviceName} {

        private final static Logger logger = LogManager.getLogger(${table.serviceImplName}.class);

}
#end
