<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.vipmro.athena.directory.service.mapper.DataDictMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="net.vipmro.athena.directory.service.model.DataDict">
        <id column="id" property="id" />
        <result column="key" property="key" />
        <result column="name_key" property="nameKey" />
        <result column="value" property="value" />
        <result column="code" property="code" />
        <result column="p_id" property="pId" />
        <result column="type" property="type" />
        <result column="sub_type" property="subType" />
        <result column="sort_no" property="sortNo" />
        <result column="app_id" property="appId" />
        <result column="status" property="status" />
        <result column="version" property="version" />
        <result column="create_at" property="createAt" />
        <result column="create_by" property="createBy" />
        <result column="create_by_name" property="createByName" />
        <result column="update_at" property="updateAt" />
        <result column="update_by" property="updateBy" />
        <result column="update_by_name" property="updateByName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, key, name_key AS nameKey, value, code, p_id AS pId, type, sub_type AS subType, sort_no AS sortNo, app_id AS appId, status, version, create_at AS createAt, create_by AS createBy, create_by_name AS createByName, update_at AS updateAt, update_by AS updateBy, update_by_name AS updateByName
    </sql>
    <!-- 通用别名结果列 -->
    <sql id="Alias_Column_List">
        a.id,
        a.key,
        a.name_key AS nameKey,
        a.value,
        a.code,
        a.p_id AS pId,
        a.type,
        a.sub_type AS subType,
        a.sort_no AS sortNo,
        a.app_id AS appId,
        a.status,
        a.version,
        a.create_at AS createAt,
        a.create_by AS createBy,
        a.create_by_name AS createByName,
        a.update_at AS updateAt,
        a.update_by AS updateBy,
        a.update_by_name AS updateByName,
        </sql>

</mapper>
