<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.vipmro.hades.bdm.mapper.GoodsPackageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="net.vipmro.hades.bdm.model.GoodsPackage">
        <id column="id" property="id" />
        <result column="goods_id" property="goodsId" />
        <result column="goods_code" property="goodsCode" />
        <result column="package_type" property="packageType" />
        <result column="unit_id" property="unitId" />
        <result column="unit_name" property="unitName" />
        <result column="unit_code" property="unitCode" />
        <result column="convert_package_unit" property="convertPackageUnit" />
        <result column="convert_sales_unit" property="convertSalesUnit" />
        <result column="length" property="length" />
        <result column="width" property="width" />
        <result column="height" property="height" />
        <result column="weight" property="weight" />
        <result column="volume" property="volume" />
        <result column="material_type" property="materialType" />
        <result column="create_by" property="createBy" />
        <result column="create_by_name" property="createByName" />
        <result column="create_at" property="createAt" />
        <result column="update_by" property="updateBy" />
        <result column="update_by_name" property="updateByName" />
        <result column="update_at" property="updateAt" />
        <result column="status" property="status" />
        <result column="version" property="version" />
        <result column="trace_no" property="traceNo" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, goods_id AS goodsId, goods_code AS goodsCode, package_type AS packageType, unit_id AS unitId, unit_name AS unitName, unit_code AS unitCode, convert_package_unit AS convertPackageUnit, convert_sales_unit AS convertSalesUnit, length, width, height, weight, volume, material_type AS materialType, create_by AS createBy, create_by_name AS createByName, create_at AS createAt, update_by AS updateBy, update_by_name AS updateByName, update_at AS updateAt, status, version, trace_no AS traceNo
    </sql>
    <!-- 通用别名结果列 -->
    <sql id="Alias_Column_List">
        a.id,
        a.goods_id AS goodsId,
        a.goods_code AS goodsCode,
        a.package_type AS packageType,
        a.unit_id AS unitId,
        a.unit_name AS unitName,
        a.unit_code AS unitCode,
        a.convert_package_unit AS convertPackageUnit,
        a.convert_sales_unit AS convertSalesUnit,
        a.length,
        a.width,
        a.height,
        a.weight,
        a.volume,
        a.material_type AS materialType,
        a.create_by AS createBy,
        a.create_by_name AS createByName,
        a.create_at AS createAt,
        a.update_by AS updateBy,
        a.update_by_name AS updateByName,
        a.update_at AS updateAt,
        a.status,
        a.version,
        a.trace_no AS traceNo,
        </sql>

</mapper>
