<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.vipmro.hades.oms.mapper.InventoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="net.vipmro.hades.oms.model.Inventory">
        <id column="id" property="id" />
        <result column="goods_id" property="goodsId" />
        <result column="goods_code" property="goodsCode" />
        <result column="store_id" property="storeId" />
        <result column="inventory_type" property="inventoryType" />
        <result column="consignor_id" property="consignorId" />
        <result column="batch_no" property="batchNo" />
        <result column="num" property="num" />
        <result column="onway_num" property="onwayNum" />
        <result column="lock_num" property="lockNum" />
        <result column="order_num" property="orderNum" />
        <result column="last_out_time" property="lastOutTime" />
        <result column="last_in_time" property="lastInTime" />
        <result column="onway_update_time" property="onwayUpdateTime" />
        <result column="create_by" property="createBy" />
        <result column="create_by_name" property="createByName" />
        <result column="create_at" property="createAt" />
        <result column="update_by" property="updateBy" />
        <result column="update_by_name" property="updateByName" />
        <result column="update_at" property="updateAt" />
        <result column="status" property="status" />
        <result column="version" property="version" />
        <result column="trace_no" property="traceNo" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, goods_id AS goodsId, goods_code AS goodsCode, store_id AS storeId, inventory_type AS inventoryType, consignor_id AS consignorId, batch_no AS batchNo, num, onway_num AS onwayNum, lock_num AS lockNum, order_num AS orderNum, last_out_time AS lastOutTime, last_in_time AS lastInTime, onway_update_time AS onwayUpdateTime, create_by AS createBy, create_by_name AS createByName, create_at AS createAt, update_by AS updateBy, update_by_name AS updateByName, update_at AS updateAt, status, version, trace_no AS traceNo
    </sql>
    <!-- 通用别名结果列 -->
    <sql id="Alias_Column_List">
        a.id,
        a.goods_id AS goodsId,
        a.goods_code AS goodsCode,
        a.store_id AS storeId,
        a.inventory_type AS inventoryType,
        a.consignor_id AS consignorId,
        a.batch_no AS batchNo,
        a.num,
        a.onway_num AS onwayNum,
        a.lock_num AS lockNum,
        a.order_num AS orderNum,
        a.last_out_time AS lastOutTime,
        a.last_in_time AS lastInTime,
        a.onway_update_time AS onwayUpdateTime,
        a.create_by AS createBy,
        a.create_by_name AS createByName,
        a.create_at AS createAt,
        a.update_by AS updateBy,
        a.update_by_name AS updateByName,
        a.update_at AS updateAt,
        a.status,
        a.version,
        a.trace_no AS traceNo,
        </sql>

</mapper>
