<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.vipmro.hades.oms.mapper.LockOrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="net.vipmro.hades.oms.model.LockOrder">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="priority" property="priority" />
        <result column="seller_message_key" property="sellerMessageKey" />
        <result column="buyer_message_key" property="buyerMessageKey" />
        <result column="receiver_address_key" property="receiverAddressKey" />
        <result column="buyer_name" property="buyerName" />
        <result column="order_start_time" property="orderStartTime" />
        <result column="order_end_time" property="orderEndTime" />
        <result column="is_limit_goods" property="isLimitGoods" />
        <result column="strategy_id" property="strategyId" />
        <result column="is_lock_stock" property="isLockStock" />
        <result column="lock_order_type" property="lockOrderType" />
        <result column="unlock_time" property="unlockTime" />
        <result column="create_by" property="createBy" />
        <result column="create_by_name" property="createByName" />
        <result column="create_at" property="createAt" />
        <result column="update_by" property="updateBy" />
        <result column="update_by_name" property="updateByName" />
        <result column="update_at" property="updateAt" />
        <result column="canceled_by" property="canceledBy" />
        <result column="canceled_by_name" property="canceledByName" />
        <result column="canceled_at" property="canceledAt" />
        <result column="status" property="status" />
        <result column="version" property="version" />
        <result column="trace_no" property="traceNo" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, priority, seller_message_key AS sellerMessageKey, buyer_message_key AS buyerMessageKey, receiver_address_key AS receiverAddressKey, buyer_name AS buyerName, order_start_time AS orderStartTime, order_end_time AS orderEndTime, is_limit_goods AS isLimitGoods, strategy_id AS strategyId, is_lock_stock AS isLockStock, lock_order_type AS lockOrderType, unlock_time AS unlockTime, create_by AS createBy, create_by_name AS createByName, create_at AS createAt, update_by AS updateBy, update_by_name AS updateByName, update_at AS updateAt, canceled_by AS canceledBy, canceled_by_name AS canceledByName, canceled_at AS canceledAt, status, version, trace_no AS traceNo
    </sql>
    <!-- 通用别名结果列 -->
    <sql id="Alias_Column_List">
        a.id,
        a.name,
        a.priority,
        a.seller_message_key AS sellerMessageKey,
        a.buyer_message_key AS buyerMessageKey,
        a.receiver_address_key AS receiverAddressKey,
        a.buyer_name AS buyerName,
        a.order_start_time AS orderStartTime,
        a.order_end_time AS orderEndTime,
        a.is_limit_goods AS isLimitGoods,
        a.strategy_id AS strategyId,
        a.is_lock_stock AS isLockStock,
        a.lock_order_type AS lockOrderType,
        a.unlock_time AS unlockTime,
        a.create_by AS createBy,
        a.create_by_name AS createByName,
        a.create_at AS createAt,
        a.update_by AS updateBy,
        a.update_by_name AS updateByName,
        a.update_at AS updateAt,
        a.canceled_by AS canceledBy,
        a.canceled_by_name AS canceledByName,
        a.canceled_at AS canceledAt,
        a.status,
        a.version,
        a.trace_no AS traceNo,
        </sql>

</mapper>
