<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.vipmro.hades.oms.mapper.PsiInventoryOnwayMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="net.vipmro.hades.oms.model.PsiInventoryOnway">
        <id column="id" property="id" />
        <result column="bill_type" property="billType" />
        <result column="bill_id" property="billId" />
        <result column="bill_code" property="billCode" />
        <result column="bill_item_id" property="billItemId" />
        <result column="goods_id" property="goodsId" />
        <result column="store_id" property="storeId" />
        <result column="inventory_type" property="inventoryType" />
        <result column="consignor_id" property="consignorId" />
        <result column="batch_no" property="batchNo" />
        <result column="sell_order_id" property="sellOrderId" />
        <result column="sell_order_item_id" property="sellOrderItemId" />
        <result column="onway_num" property="onwayNum" />
        <result column="create_by" property="createBy" />
        <result column="create_by_name" property="createByName" />
        <result column="create_at" property="createAt" />
        <result column="update_by" property="updateBy" />
        <result column="update_by_name" property="updateByName" />
        <result column="update_at" property="updateAt" />
        <result column="status" property="status" />
        <result column="version" property="version" />
        <result column="trace_no" property="traceNo" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, bill_type AS billType, bill_id AS billId, bill_code AS billCode, bill_item_id AS billItemId, goods_id AS goodsId, store_id AS storeId, inventory_type AS inventoryType, consignor_id AS consignorId, batch_no AS batchNo, sell_order_id AS sellOrderId, sell_order_item_id AS sellOrderItemId, onway_num AS onwayNum, create_by AS createBy, create_by_name AS createByName, create_at AS createAt, update_by AS updateBy, update_by_name AS updateByName, update_at AS updateAt, status, version, trace_no AS traceNo
    </sql>
    <!-- 通用别名结果列 -->
    <sql id="Alias_Column_List">
        a.id,
        a.bill_type AS billType,
        a.bill_id AS billId,
        a.bill_code AS billCode,
        a.bill_item_id AS billItemId,
        a.goods_id AS goodsId,
        a.store_id AS storeId,
        a.inventory_type AS inventoryType,
        a.consignor_id AS consignorId,
        a.batch_no AS batchNo,
        a.sell_order_id AS sellOrderId,
        a.sell_order_item_id AS sellOrderItemId,
        a.onway_num AS onwayNum,
        a.create_by AS createBy,
        a.create_by_name AS createByName,
        a.create_at AS createAt,
        a.update_by AS updateBy,
        a.update_by_name AS updateByName,
        a.update_at AS updateAt,
        a.status,
        a.version,
        a.trace_no AS traceNo,
        </sql>

</mapper>
