<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.vipmro.athena.directory.service.mapper.ResourceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="net.vipmro.athena.directory.service.model.Resource">
        <id column="id" property="id" />
        <result column="res_name" property="resName" />
        <result column="symbol" property="symbol" />
        <result column="res_type" property="resType" />
        <result column="icon_path" property="iconPath" />
        <result column="forward" property="forward" />
        <result column="sort_no" property="sortNo" />
        <result column="app_id" property="appId" />
        <result column="p_id" property="pId" />
        <result column="depth" property="depth" />
        <result column="is_leaf" property="isLeaf" />
        <result column="status" property="status" />
        <result column="version" property="version" />
        <result column="create_at" property="createAt" />
        <result column="create_by" property="createBy" />
        <result column="create_by_name" property="createByName" />
        <result column="update_at" property="updateAt" />
        <result column="update_by" property="updateBy" />
        <result column="update_by_name" property="updateByName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, res_name AS resName, symbol, res_type AS resType, icon_path AS iconPath, forward, sort_no AS sortNo, app_id AS appId, p_id AS pId, depth, is_leaf AS isLeaf, status, version, create_at AS createAt, create_by AS createBy, create_by_name AS createByName, update_at AS updateAt, update_by AS updateBy, update_by_name AS updateByName
    </sql>
    <!-- 通用别名结果列 -->
    <sql id="Alias_Column_List">
        a.id,
        a.res_name AS resName,
        a.symbol,
        a.res_type AS resType,
        a.icon_path AS iconPath,
        a.forward,
        a.sort_no AS sortNo,
        a.app_id AS appId,
        a.p_id AS pId,
        a.depth,
        a.is_leaf AS isLeaf,
        a.status,
        a.version,
        a.create_at AS createAt,
        a.create_by AS createBy,
        a.create_by_name AS createByName,
        a.update_at AS updateAt,
        a.update_by AS updateBy,
        a.update_by_name AS updateByName,
        </sql>

</mapper>
