<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.vipmro.hades.oms.mapper.StoreStrategyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="net.vipmro.hades.oms.model.StoreStrategy">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="code" property="code" />
        <result column="remark" property="remark" />
        <result column="default_store_id" property="defaultStoreId" />
        <result column="default_store_name" property="defaultStoreName" />
        <result column="create_by" property="createBy" />
        <result column="create_by_name" property="createByName" />
        <result column="create_at" property="createAt" />
        <result column="update_by" property="updateBy" />
        <result column="update_by_name" property="updateByName" />
        <result column="update_at" property="updateAt" />
        <result column="status" property="status" />
        <result column="version" property="version" />
        <result column="trace_no" property="traceNo" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, code, remark, default_store_id AS defaultStoreId, default_store_name AS defaultStoreName, create_by AS createBy, create_by_name AS createByName, create_at AS createAt, update_by AS updateBy, update_by_name AS updateByName, update_at AS updateAt, status, version, trace_no AS traceNo
    </sql>
    <!-- 通用别名结果列 -->
    <sql id="Alias_Column_List">
        a.id,
        a.name,
        a.code,
        a.remark,
        a.default_store_id AS defaultStoreId,
        a.default_store_name AS defaultStoreName,
        a.create_by AS createBy,
        a.create_by_name AS createByName,
        a.create_at AS createAt,
        a.update_by AS updateBy,
        a.update_by_name AS updateByName,
        a.update_at AS updateAt,
        a.status,
        a.version,
        a.trace_no AS traceNo,
        </sql>

</mapper>
