<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.vipmro.hades.oms.mapper.WmsExpressRefMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="net.vipmro.hades.oms.model.WmsExpressRef">
        <id column="id" property="id" />
        <result column="store_id" property="storeId" />
        <result column="express_id" property="expressId" />
        <result column="express_code" property="expressCode" />
        <result column="express_name" property="expressName" />
        <result column="insurance_flag" property="insuranceFlag" />
        <result column="cod_flag" property="codFlag" />
        <result column="fc_flag" property="fcFlag" />
        <result column="wms_code" property="wmsCode" />
        <result column="remark" property="remark" />
        <result column="create_by" property="createBy" />
        <result column="create_by_name" property="createByName" />
        <result column="create_at" property="createAt" />
        <result column="update_by" property="updateBy" />
        <result column="update_by_name" property="updateByName" />
        <result column="update_at" property="updateAt" />
        <result column="status" property="status" />
        <result column="version" property="version" />
        <result column="trace_no" property="traceNo" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, store_id AS storeId, express_id AS expressId, express_code AS expressCode, express_name AS expressName, insurance_flag AS insuranceFlag, cod_flag AS codFlag, fc_flag AS fcFlag, wms_code AS wmsCode, remark, create_by AS createBy, create_by_name AS createByName, create_at AS createAt, update_by AS updateBy, update_by_name AS updateByName, update_at AS updateAt, status, version, trace_no AS traceNo
    </sql>
    <!-- 通用别名结果列 -->
    <sql id="Alias_Column_List">
        a.id,
        a.store_id AS storeId,
        a.express_id AS expressId,
        a.express_code AS expressCode,
        a.express_name AS expressName,
        a.insurance_flag AS insuranceFlag,
        a.cod_flag AS codFlag,
        a.fc_flag AS fcFlag,
        a.wms_code AS wmsCode,
        a.remark,
        a.create_by AS createBy,
        a.create_by_name AS createByName,
        a.create_at AS createAt,
        a.update_by AS updateBy,
        a.update_by_name AS updateByName,
        a.update_at AS updateAt,
        a.status,
        a.version,
        a.trace_no AS traceNo,
        </sql>

</mapper>
